:root {
    --nav-background: #ED4C67;
    --nav-border: .5rem solid #B53471;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--nav-border);
    background: var(--nav-background);
    border-radius: 5px;
    font-size: 3rem;
    padding: .5em;
    margin: 20px;
  }
  
 
  nav > .logo {
    height: 13rem;
  }
  
  main {
    border: 5px solid red;
    padding: 1rem;
    margin-block:   2rem;
  }


  body  {
    background-image: url("vaca.jpg"); 
    
  }
 
  