:root{
    --nav-background: solid rgb(247, 0, 255);
    --nav-border: .5em solid rgb(255, 192, 252); 

}

nav {
    display:flex;
    background-color: var(--nav-background);
    border: var(--nav-border);
    font-size: 2rem ;
    border-radius: 5px;
    justify-content: space-between;
}

nav:is(ul,li){
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul,
nav li {
    margin: 0;
    padding: 0;
}

nav > ul {
    display: flex;
    gap: 10px;
    padding: 10px;
}

nav > ul > li {
    background-color:  rgb(225, 0, 255);
    list-style: none;
    border: 1px  rgb(225, 0, 255);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;

}

nav ul > li > ul {
    display: none;
} 

nav ul > li:hover > ul {
    display: block;
} 

nav div {
    position: relative;
    
}
.logo{
    height: 5vw;

}